@use '../../scss/' as vn;
@import '../../scss/variables';
@import '../../scss/mixin';

.shop {
  padding-top: $padding-top-section;
  .shop-filter {
    border: 1px solid rgb(224, 224, 224);

    .filter-title {
      margin-top: 13px;
    }

    .filter-item {
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    .btn-clear {
      background-color: black;
      color: white;
    }
    .filter-title {
      padding: 12px 0;
      text-align: center;
      background-color: black;
      color: white;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }

    .categories-filter {
    }

    .brand-filter {
    }

    .price-filter {
      .JoySlider-track.css-1fsuvm2-JoySlider-track {
        background-color: $main-color;
      }

      .JoySlider-rail.css-las68b-JoySlider-rail {
        background-color: rgb(211, 211, 211);
      }
    }
  }
}
