@use '../../scss/' as vn;
@import '../../scss/variables';
@import '../../scss/mixin';

.products {
  background-color: #f5f5f5;
  padding-top: $padding-top-section;
  padding-bottom: 50px;

  .products-title {
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      color: #111111;
    }
  }
  .products-best-sellers {
    .product-card {
      @include tablet-small {
        width: 240px;
      }
      width: 290px;
      position: relative;
      box-shadow: 0 2px 7px #dfdfdf;
      margin: 15px auto;
      background: #fafafa;
      .badge {
        position: absolute;
        left: 0;
        top: 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        background: $main-color;
        color: #fff;
        padding: 3px 10px;
      }
      .product-tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        padding: 50px;
        background: #f0f0f0;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .product-details {
        padding: 30px;
        .product-catagory {
          display: block;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          color: #ccc;
          margin-bottom: 18px;
          h4 {
            a {
              font-weight: 500;
              display: block;
              margin-bottom: 18px;
              text-transform: uppercase;
              color: #363636;
              text-decoration: none;
              transition: 0.3s;
            }
          }
        }

        h4 {
          a {
            &:hover {
              color: #fbb72c;
            }
          }
        }

        p {
          font-size: 15px;
          line-height: 22px;
          margin-bottom: 18px;
          color: #999;
        }

        .product-bottom-details {
          overflow: hidden;
          border-top: 1px solid #eee;
          padding-top: 20px;

          div {
            float: left;
            width: 50%;
          }
          .product-price {
            font-size: 18px;
            color: $main-color;
            font-weight: 600;

            small {
              font-size: 80%;
              font-weight: 400;
              text-decoration: line-through;
              display: inline-block;
              margin-right: 5px;
            }
          }

          .product-links {
            text-align: right;

            a {
              display: inline-block;
              margin-left: 5px;
              color: #e1e1e1;
              transition: 0.3s;
              font-size: 17px;

              &:hover {
                color: #fbb72c;
              }
              .icon-link {
                color: rgb(155, 155, 155);

                &:hover {
                  color: $main-color;
                }
              }
              .icon-heart {
              }
              .icon-cart {
              }
            }
          }
        }
      }

      &:hover {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
          rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    }
  }
}
