@use '../../scss/' as vn;
@import '../../scss/variables';
@import '../../scss/mixin';

.product-line-grid {
  .product-line-grid-left {
    .product-image {
      img {
        width: 100px;
      }
    }
  }

  .product-line-grid-body {
    .product-line-info {
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #232323;
      }

      .current-price {
        .price {
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          color: #111111;
        }
      }

      .label {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #232323;
        font-family: philosopher;
      }

      .value {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        color: #555555;
        font-family: montserrat;
      }
    }
  }

  .product-line-grid-right {
  }
}
