@use '../../scss/' as vn;
@import '../../scss/variables';
@import '../../scss/mixin';

.title-page {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/images/bgpage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .bg-title-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .breadcrumb {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 3;
    .title {
      h3 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 500px;
        color: white;
      }
    }

    ul {
      padding-left: 0;
      li {
        display: inline-block;
        span {
          font-size: 13px;
          line-height: 22px;
          font-weight: 400;
          color: #aaaaaa;
        }
        &::after {
          content: '\/';
          color: rgb(170, 170, 170);
          margin: -3px 0 0 0;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          display: inline-block;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &:last-child {
          content: '/';
          color: rgb(122, 122, 122);
          margin: 0;

          a {
            span {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
