@use '../../../scss/' as vn;
@import '../../../scss/variables';
@import '../../../scss/mixin';

footer {
  background-color: #151515;
  color: white;
  .footer-container {
    padding-top: 89px;
    .footer-content {
      .moduletable {
        .logo-bottom {
          .logo-description {
            margin: 21px 0;
            p {
              margin: 0;
              font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
              font-size: 13px;
              font-weight: 400;
              line-height: 22px;
              color: #999999;
            }
          }
        }
      }

      .socials-wrap {
        padding: 15px;
        margin: 0 0 21px 0;
        .footer-social {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          height: 100%;
          a {
            background-color: #2d2d2d;
            padding: 15px;
            margin: 12px 2px;
            border-radius: 3px;
            .icon-social {
              font-size: 18px;
              font-weight: 400;
              line-height: 18px;
              color: #ffffff;
            }

            &:hover {
              background-color: $main-color;
            }
          }
        }
      }

      .contactinfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        @include tablet {
          flex-direction: column;
          justify-content: center;
          float: right;
        }

        .contact-item {
          @include tablet {
            width: calc(100% - 30px);
          }
          background-color: #212121;

          width: calc(33% - 30px);
          float: left;
          padding: 39px 0;
          margin: 5px 15px;
          text-align: center;
          transition: all 0.3s ease 0s;

          label {
            .icon-contact {
              color: $main-color;
              font-size: 30px;
              line-height: 30px;
              font-weight: 400;
              margin-bottom: 21px;
            }
          }

          h6 {
            font-family: 'Philosopher', 'sans-serif';
            font-size: 16px;
            line-height: 18px;
            color: #aaaaaa;
            font-weight: 400;
            a {
              font-family: 'Philosopher', 'sans-serif';
              font-size: 16px;
              line-height: 18px;
              color: #aaaaaa;
              font-weight: 400;
            }
          }
        }
      }

      .menu-bottom {
        margin: 32px 0 21px 0;
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          li {
            a {
              padding: 0 10px;
              font-size: 18px;
              font-weight: 700;
              line-height: 22px;

              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      .copyright {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        color: #999999;
        margin-bottom: 9px;
      }
    }
  }
}
