@use '../../../scss/' as vn;
@import '../../../scss/variables';
@import '../../../scss/mixin';

.women-collection {
  padding: $padding-top-section;
  .women-collection-title {
    padding-bottom: 15px;
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      color: #111111;
    }

    p {
    }
  }

  .women-collection-content {
    .collection-content-left {
      img {
        border-radius: 5px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
          rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 48px;
      }
    }

    .collection-content-right {
      @include mobile {
        margin-bottom: 50px;
      }
      margin-bottom: 80px;
      .content-right-item {
        max-height: 470px;
        .container-card1 {
          background: url('https://i.pinimg.com/564x/52/89/76/528976b647a10f14e9592e021017e4ca.jpg');
        }
        .container-card2 {
          background: url('https://i.pinimg.com/564x/a9/7b/8a/a97b8a325eb0a0b29048dcf4b8a66476.jpg');
        }
        .container-card3 {
          background: url('https://i.pinimg.com/564x/8e/6f/f1/8e6ff1c8c0e9aad7149be0570ee30f7b.jpg');
        }
        .container-card4 {
          background: url('https://i.pinimg.com/564x/f7/09/db/f709dbce0547753accd0c7fe422a4815.jpg');
        }
        .container-card {
          @include mobile-large {
            height: 50vw;
          }

          width: 45%;
          height: 29.7vw;

          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          border-radius: 5px;

          background-color: white;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;

          -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

          &:hover .overlay {
            opacity: 1;
            & .head {
              transform: translateY(0px);
            }

            & hr {
              width: 75px;
              transition-delay: 0.4s;
            }

            & .price {
              transform: translateY(0px);
              transition-delay: 0.3s;
              opacity: 1;
            }

            & .cart {
              transform: translateY(0px);
              transition-delay: 0.6s;
              opacity: 1;
            }
          }
        }

        .overlay {
          width: 100%;
          height: 100%;

          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 2fr 2fr 1fr;

          background: rgba(77, 77, 77, 0.9);
          color: white;
          opacity: 0;
          transition: all 0.5s;

          font-family: 'Playfair Display', serif;

          .items {
            padding-top: 3px;
            padding-left: 20px;
            letter-spacing: 3px;
          }

          .head {
            @include small-desktop {
              font-size: 20px;
              line-height: 30px;
            }
            @include tablet-small {
              line-height: 5px;
            }
            @include tablet {
              font-size: 15px;
              line-height: 25px;
            }

            font-size: 30px;
            line-height: 40px;
            color: $main-color;

            transform: translateY(40px);
            transition: all 0.7s;
            hr {
              display: block;
              width: 0;

              border: none;
              border-bottom: solid 2px $main-color;

              position: absolute;
              bottom: 0;
              left: 20px;

              transition: all 0.5s;
            }
          }

          .price {
            @include small-desktop {
              font-size: 14px;
              line-height: 8px;
            }
            @include tablet-small {
              line-height: 5px;
            }
            @include tablet {
              font-size: 11px;
              line-height: 8px;
            }
            font-size: 22px;
            line-height: 10px;
            font-weight: bold;
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.7s;
            .old {
              text-decoration: line-through;
              color: lighten(rgb(77, 77, 77), 40%);
            }
          }

          .cart {
            @include small-desktop {
              font-size: 10px;
            }
            @include tablet-small {
              font-size: 5px;
              // line-height: 5px;
            }
            @include tablet {
              font-size: 8px;
            }

            font-size: 12px;
            opacity: 0;
            letter-spacing: 1px;
            font-family: 'Lato', sans-serif;
            transform: translateY(40px);
            transition: all 0.7s;
            i {
              font-size: 16px;
            }
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
