@use '../../scss/' as vn;
@import '../../scss/variables';
@import '../../scss/mixin';

.banner-service {
  @include mobile-large {
    margin-top: 70px;
  }
  @include mobile {
    margin-top: 0px;
  }
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(../../assets/images/servicewatch.jpg);
  background-size: cover;
  background-position: center;

  .info-service {
    @include tablet-large {
      width: 80vw;
      padding: 0 0 0 150px;
    }
    @include tablet-small {
      width: 90vw;
      padding: 0 0 0 50px;
    }
    @include mobile {
      width: 90vw;
      padding: 0 0 0 20px;
    }

    position: relative;
    width: 50vw;
    padding: 0 0 0 150px;
    z-index: 20;
    .info-service-title {
      h1 {
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        color: white;
      }
    }
    .info-service-rate {
    }
    .info-service-price {
      h1 {
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        color: rgb(207, 207, 207);
      }
    }
    .info-service-description {
      p {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        color: #aaaaaa;
      }
    }
    .info-service-button {
      button {
        background-color: $main-color;
        border: 1px solid transparent;
        a {
          color: white;
        }
        &:hover {
          a {
            color: black;
          }
          background-color: white;
          border: 1px solid transparent;
          opacity: 1 !important;
        }
      }
    }
  }
  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
}
